footer{
    font-size: 2rem;
    background-color: grey;
    padding: 20px;
        p{
            font-family: Arial, Helvetica, sans-serif;
            font-style: oblique;
            font-size: x-large;
        }
}